   <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
   
    <ol type="circle">

    <br>
       <li><a class="btn btn-success"  href="/sview">View Subscriber</a></li><br><br>
        <li> <a class="btn btn-success"  href="/addsub"> Add Subscriber </a></li>
    </ol>

